.DS_Store
.toolchain/
_archive/
native-macos-release/

*.log

星阙/前端/App/.dart_tool/
星阙/前端/App/.idea/
星阙/前端/App/build/
星阙/前端/App/flutter_*.log
星阙/前端/App/horosa.iml
星阙/前端/App/horosa.jks
星阙/前端/horosa-admin-master/
星阙/前端/App/android/local.properties
星阙/前端/App/ios/Pods/
星阙/前端/App/ios/.symlinks/
星阙/前端/App/ios/Flutter/Generated.xcconfig
星阙/前端/App/ios/Flutter/flutter_export_environment.sh
星阙/前端/App/macos/Pods/
星阙/前端/App/macos/Flutter/ephemeral/
